h1 {
  color: #17212d;
  font-size: 48px;
  margin: 5px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;

}

h2 {
  color: #17212d;
  font-size: medium;
  margin: 5px;
  text-align: center;
  text-decoration: underline;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
}

body {
  padding-top: 70px;
  background-color: #fff;
  padding: 0.5;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;

}


#footer {
  background-color: #6e081e;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1%;
  margin: 0 0 1%;
  color: #fff;
}

#address {
  background-color: #17212d;
  padding: 20px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}


.navbar {
  background-color: #fff;
  height: 70px;
  opacity: 0.95;
  margin: 20px;
  border-radius: 10px;
  padding: 0.5rem 10px;
}

.navbar-brand {
  font-weight: 500;
  color: #6e081e;
  font-size: 20px;
  transition: 0.3s color;
}

.navbar-toggler {
  border: none;
  font-size: 1em;
}

.navbar-toggler:focus, .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #947064;
  font-weight: 500;
  position: relative;
}

.nav-link:hover, .nav-link:active {
  color: #6e081e;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #947064;
  visibility: hidden;
  transition: 0.3s, ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before {
  width: 90%;
  visibility: visible;
}

.hero-section {
  position: relative;
  background: url(../images/cannal2.jpg) center;
  background-size: cover;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 70px;
}

.hero-section::before {
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.hero-section .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}

.hero-section h1,h2, h3, h4 {
  color: #fff;
  text-decoration: none;
  font-family: "Inter", sans-serif;

}

.hero-section h1 {
  font-size: 1.5em;
  font-weight: 400;
}

.hero-section h2 {
  font-size: 1em;
  font-weight: 100;
}

.hero-section h3 {
  font-size: 1em;
  font-weight: 150;
}

.hero-section h4 {
  font-size: 1em;
  font-weight: 150;
}

.d-flex.flex-column.align-items-center h2.text-center.mb-3 {
  color: #000; 
}

.d-flex.flex-column.align-items-center h4.text-center {
  color: #000; 
}



@media(max-width:768px){

  .navbar{
    height: auto;
    padding: 0.5rem;
  }

  .navbar-brand{
    font-size: 18px;
  }

  .nav-link{
    font-size: 16px;
  }

  .hero-section h1{
    font-size: 28px;
  }

  .hero-section h2{
    font-size: 16px;
  }

  .hero-section h3, .hero-section h4{
    font-size: 16px;
  }

}

.h1-colour{
  color: #6e081e;
}

.carousel-item img{
  height: 600px;
  object-fit: cover;
}

.h1-text{
  font-family: "Inter", sans-serif;
  font-size: 35px;
  padding-bottom: 10px;

}