
h1{
  color: #17212d;
  font-size: 48px;
  margin: 5px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
h2{
  color: #17212d;
  font-size: medium;
  margin: 5px;
  text-align: center;
  text-decoration: underline;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
}

body{
  padding-top: 70px;
  background-color: #fff;
  padding: 0.5;
  margin: 0.5;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style:normal;
  text-align: center;

}

#navigation{
  border:1px solid #6e081e;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

#navigation li{
  display:inline-block;
  padding:10px;
  color:#947064;
  text-decoration:none;
  font-weight:bold;
  cursor:pointer;
}

#navigation li.current {
  font-weight:normal;
  cursor:default;
}

#navigation li a{
  color: #6e081e;
  text-decoration: none;
}

#navigation li a:hover{
  color: #947064;
}

#footer{
  background-color: #6e081e;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 2%;
  margin: 0 0 1%;
  color: #fff;
}

#address{
  background-color: #17212d;
  padding: 20px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

#picture-section{
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

#banner-container{
  background-color:#17212d;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.picture-box{
  text-align: center;
  width: 40%;
  background-color: #947064;
  padding: 20px;
  padding-top: 40px;
}

.picture-box img{
  width: 100%;
  height: auto;
  border: 1px solid #6e081e;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.picture-box p{
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  color: #e4ccc0;
}

.centred-picture{
  display: block;
  margin: 0 auto;
}

.rounded-picture{
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0,0, 0.4);
}

.special-text{
  font-size: 18px;
  color: #6e081e;
  font-style: normal;
  text-align: center;
  font-family: "Bebas Neue", sans-serif
}

.text-box{
  width: 95%;
  padding: 1px;
  border: 2px solid #17212d;
  background-color: #6e081e;
  color: #fff;
  font-size: 15px;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
}

.navbar{
  background-color: #fff;
  height: 70px;
}

.navbar-brand{
  font-weight: 500;
  color: #6e081e;
  font-size: 24px;
  transition: 0.3s color;
}

.navbar-toggler{
  border: none;
  font-size: 1.25em;
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

.nav-link{
  color: #947064;
  font-weight: 500;
}

.nav-link:hover, .nav-link:active{
  color: #6e081e;
}

.hero-section{
  background: url(../images/cannal2.jpg) center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
